.g-recaptcha{
  display: inline-block;
  margin-bottom: 30px;
}

#regbox {
  margin-top: 20px;
}

#logo {
  margin-top: 100px;
}

#email {
  margin-bottom: 30px;
}

#username {
  margin-bottom: 30px;
}

#phonenumber {
  margin-bottom: 30px;
} 

#password {
  margin-bottom: 30px;
}

#passwordcheck {
  margin-bottom: 30px;
}

input[type=text] {
  padding: 5px;
  border:2px solid #FFF;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

input[type=password] {
  padding: 5px;
  border:2px solid #FFF;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

input[type=email] {
  padding: 5px;
  border:2px solid #FFF;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

input[type=submit] {
  padding:5px 15px;
  background:#CCC;
  border:0 none;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}



/* The message box is shown when the user clicks on the password field */
#message {
  display:none;
  background: #0caa95;
  color: #000;
  position: fixed;
  right: 20em;
  padding: 20px;
  margin-top: 10px;
}

#message p {
  padding: 10px 35px;
  font-size: 18px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -35px;
}

/* Add a red text color and an "x" icon when the requirements are wrong */
.invalid {
  color: red;
}

.invalid:before {
  position: relative;
}
