html {
  width: 100%;
}

.with-margin {
margin-bottom: 30px;
float: right;
}

.clip-margin {
  margin-bottom: 30px;
  float: left;
}

input[type=submit] {
  padding:5px 15px;
  background:#CCC;
  border:0 none;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

#logo {
  margin-top: 100px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #3b3434;
  position: fixed;
  top: 0;
  width: 100%;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #18a895;
    -webkit-text-fill-color: #83460d;
  }

  #videos {
    position: absolute;
    left: 10%;
  }

  #images {
    position: absolute;
    right: 10%;
  }

.jumbotron {
  background-color: transparent !important;
}