html {
  height: 100%;
  background-image: url("../Pictures/Background.png");
}

.with-margin {
margin-bottom: 30px;
float: right;
}

input[type=submit] {
  padding:5px 15px;
  background:#CCC;
  border:0 none;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
