html {
  height: 100%;
}

#update {
  margin-bottom: 40px !important;
  display: inline-block;
  color: black;
  padding:5px 15px;
  background:lightgray;
  border:0 none;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

#password, #email, #passwordcheck, #phonenumber {
  margin-bottom: 20px;
}

#logo {
  margin-top: 70px;
  margin-bottom: 30px;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: #3b3434;
  position: fixed;
  top: 0px;
  width: 100%;
  }
  
li {
    float: left;
}
  
form {
  margin: 0px 0px 0px 0px !important;
}

p {
  color: #fff !important;
  text-shadow: 3px 3px 5px #000;
  font-size: 1.2em !important;
}

li a, input[type="submit"] {
  margin: 0px !important;
  display: block;
  background-color: transparent;
  border: transparent;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
  
li a:hover, input[type="submit"]:hover {
  background-color: #18a895;
  color: #542A0C;
  text-decoration: none;
  }

legend {
  color: #fff !important;
  text-shadow: 3px 3px 5px #000;
  font-size: 3em !important;
  margin-bottom: 25px !important;
}

#delete {
  display: inline-block;
  padding: 5px 15px !important;
  background-color:#b11b1b !important;
  color: #DDD !important;
  border:0 none;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 30px;
}