html {
  height: 100%;
}

#logo {
  margin-top: 100px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #3b3434;
  position: fixed;
  top: 0;
  width: 100%;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #18a895;
    color: #542A0C;
    text-decoration: none;
  }

  p, h1 , h2, h3{
    color: #fff !important;
    text-shadow: 3px 3px 5px #000;
  }

  #links {
    color: #1E665C;
    text-decoration: none;
    text-shadow: 3px 3px 5px #54C3B4 !important;
  }