html {
  height: 100%;
  background-image: url("Pictures/Background.png");
}

#logo {
  margin-top: 100px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #3b3434;
  position: fixed;
  top: 0;
  width: 100%;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #18a895;
    -webkit-text-fill-color: #83460d;
  }
